@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  height: 100vh;
  margin: 0;
  background-color: #141414; /* Dark background color */
  overflow: auto;
}

.left-half {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* Three equal rows */
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 10px; /* Space between grid items */
  row-gap: 10px;
}

.right-half {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two equal rows for telemetry and GPS */
  padding: 10px; /* Padding inside the right half */
}

.left-half, .right-half {
  display: flex;
  flex-direction: column;
  
}

.component, .telemetry-container, .location-container {
  background-color: #282828; /* Slightly lighter dark background for components */
  color: #FFFFFF; /* Text color */
  border: 1px solid #141414; /* Border color */
  border-radius: 4px; /* Border radius for rounded corners */
  padding: 10px; /* Padding inside components */
  overflow: hidden; /* Prevents content from overflowing */
}

.telemetry-container, .location-container {
  grid-column: 1 / 2; /* Stretches across the available columns */
}

/* Specific styling for components to center content */
.component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  align-items: flex-start;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 20px;
}

.team-name {
  background-color: #9553ff; /* Adjust background color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.team-logo {
  max-width: 100px; /* Adjust as needed for size */
  height: auto;
  border-radius: 50%; /* Rounded corners for circular shape */
}



/* Adjust the grid layout for responsive design */
@media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr; /* One column layout for smaller screens */
  }
  
  .right-half {
    grid-template-rows: 1fr; /* Stacks telemetry and GPS vertically */
  }
  
  .left-half, .right-half {
    order: 1; /* Ensures the left side is on top on smaller screens */
  }
}

