@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Use grid to split the main container into two equal columns */
.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: #141414; /* Dark background color for the entire dashboard */
}

/* Container for the telemetry table on the right half */
.telemetry-container {
  grid-column: 2 / 3;
  background-color: #141414; /* Dark background color */
  color: #FFFFFF; /* Text color */
  overflow-y: auto; /* Scrollable if content overflows */
  padding: 10px; /* Padding around the telemetry content */
  display: flex; /* Use flexbox for internal layout */
  flex-direction: column; /* Align child elements in a column */
  max-height: 50vh;
}

/* Container for other components on the left half */
.components-container {
  grid-column: 1 / 2;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Style for individual components */
.component {
  background-color: #282828; /* Slightly lighter dark background for components */
  border: 1px solid #282828; /* Border color */
  border-radius: 8px; /* Rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the telemetry table */
.telemetry-table {
  border-collapse: collapse;
  width: 100%;
  color: #FFFFFF;
}

.telemetry-table th,
.telemetry-table td {
  border: 1px solid #ffffff;
  background-color: #141414;
  padding: 8px; /* Adjust padding for cell spacing */
  text-align: left; /* Align text to the left */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr; /* Stack components vertically on smaller screens */
  }
  
  .telemetry-container {
    order: 1; /* Telemetry comes first */
    width: 100%; /* Take full width on smaller screens */
  }
  
  .components-container {
    order: 2; /* Components come after telemetry */
  }
}
