@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.dashboard-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
  color: #E0E0E0;
  padding: 0;
}

.left-half, .right-half {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-half {
  padding-right: 20px;
  padding-top: 20px;
}

.left-half {
  padding: 10px;

}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

@media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .left-half, .right-half {
    order: 1;
  }
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.team-name {
  background-color: #9553ff;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.team-logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.team-logo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}